/*baseLayout.css*/
@charset "UTF-8";
@font-face{
	font-family: cooper;
	/*src: url('font/coopermdbt.ttf');*/
    font-style: normal;
	font-size: 18;
}

#wrapper {
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

/* The popup form - hidden by default */
.popupContainer{
  display: none;
  position: fixed;
  width: 99%;
  height: 98%;
  left: 0px;
  top: 0px;
  margin: 1px;
  border: 3px solid purple;
  z-index: 2;
  background-color: white;
}
#textBox{
	font-size: 25px;
	width: 90%;
	height: 90%;
	text-align: center;
}

*{
	margin: 0px;
	padding: 0px;
}

h2{
	font-family: cooper;
	font-weight: bold;
	color: black;
}
strong{
	font-size: 18;
	font-family: cooper;
	color: black;
}
p{
	font-size: 17;
	font-family: cooper;
	color: black;
}
i{
	font-size: 15;
	font-family: cooper;
	color: black;
}

.bg{
	background-image: url("bg-poly-purple.png");
	width: 100%;
	height: 100%;
	/*min-width: 1000px;
	/*min-height: 700px; */
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: black;
}

/*.singleCell{
	width:	5.25%;
	height:	5.25%;
	margin:	0.5%;
} */

.btn-top{
	float: top;
	background-image: url("Button-proto.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 12.5%;
	/*border-color: green;
	border-style: solid; */
}
.btn-cntr{
	float: center;
	background-image: url("Button-proto.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: center-left;
	width: 100%;
	height: 12.5%;
}
.btn-btm{
	float: bottom;
	background-image: url("Button-proto.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: bottom;
	width: 100%;
	height: 12.5%;
}


.hor1{
	width: 100%;
	height: 6.25%;
}
.hor2{
	float: top;
	width: 100%;
	height: 12.5%;
}
.hor3{
	width: 100%;
	height: 18.75%;
}
.hor4{
	width: 100%;
	height: 25%;
}
.hor5{
	width: 100%;
	height: 31.25%;
}
.hor6{
	width: 100%;
	height: 37.5%;
}
.hor8{
	width: 100%;
	height: 50%;
}
.hor9{
	width: 100%;
	height: 56.25%;
}
.hor10{
	width: 100%;
	height: 62.5%;
}
.hor11{
	width: 100%;
	height: 68.75%;
}
.hor12{
	width: 100%;
	height: 75%;
}
.hor16{
	width: 100%;
	height:100%;
}


.ver1{
	float: left;
	width:	6.25%;
	height: 100%;
	background-color: purple;
}
.ver2{
	float: left;
	width:	12.5%;
	height: 100%;
}
.ver4{
	float: left;
	width:	25%;
	height: 100%;
}
.ver6{
	float: left;
	width:	37.5%;
	height: 100%;
}
.ver14{
	float: left;
	width:	87.5%;
	height: 100%;
}
.ver15{
	float: left;
	width:	93.5%;
	height: 100%;
	background-color: gray;
}